/* color pallete */

.color-0D1321 {
    color: #0D1321;
}

.color-1D2D44 {
    color: #1D2D44;
}

.color-3E5C76 {
    color: #3E5C76;
}

.color-748CAB {
    color: #748CAB;
}

.color-F0EBD8 {
    color: #F0EBD8;
}

.color-fff {
    color: #fff;
}


/* background color */

.bgcolor-0D1321 {
    background-color: #0D1321;
}

.bgcolor-1D2D44 {
    background-color: #1D2D44;
}

.bgcolor-3E5C76 {
    background-color: #3E5C76;
}

.bgcolor-748CAB {
    background-color: #748CAB;
}

.bgcolor-F0EBD8 {
    background-color: #F0EBD8;
}
