/* input : text Style */
input {
    font-size: 0.8rem;
    font-weight: 300;
    color: #A2A2A2;
    background-color: #ffffff;
    border-radius: 0.2vw;
    border: 1px solid #DDDEE0;
    outline: none;
    padding: 3% 5%;
}



/* Buttons */
.button-primery {
    font-size: 0.8rem;
    font-weight:  300;
    color: #040405;
    background-color: #748CAB;
    border: none;
    border-radius: 0.2vw;
    outline: none;
    padding: 3% 8%;
}


.button-secondary {
    font-size: 0.8rem;
    font-weight: 300;
    color: #040405;
    background-color: #F0EBD8;
    border: none;
    border-radius: 0.2vw;
    outline: none;
    padding: 3% 8%;
}

